@font-face {
    font-family: Open Sans Bold;
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: bold;
  }
  @font-face {
    font-family: Open Sans Regular;
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: Open Sans Regular, Arial, sans-serif;
    box-sizing: border-box;
    color: #000000;
    line-height: normal;
  }
  body {
    min-width: 1200px;
  }
  
  ul {
    list-style-type: none;  
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  /* стили шапки */
  .header {
    min-width: 1200px;
    padding-bottom: 145px;
    padding-top: 26px;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    z-index: 0;
    position: relative;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.6;
    background-color: #000000;
    z-index: -1;  
  }
  
  .nav-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: space-between;
  }
  
  .header-logo {
    width: 180px;  
  }
  
  .menu-list { 
    font-family: Open Sans Regular;
    font-size: 13px;  
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;  
    
    
  }
  
  .menu-list-item {  
    border-bottom: 1px solid transparent;
    transition-property: border-bottom;
  }
  
  
  .menu-list-item:hover {  
    border-bottom: 1px solid #ffffff;
    transition: 0.6s;
  }
  
  .menu-list-item:nth-child(n+2) {
    margin-left: 35px;
  }
  
  .header-title {
      display: block;    
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-family: Open Sans Bold;
      font-size: 45px;    
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 110px; 
  }

  /* тренды */ 
  .trend_container {
    display: flex;    
    flex-wrap: nowrap;

  }

  .trend_card {
    width: 25%;
    position: relative;        
    background-color: #666666;
    min-height: 300px;
  }

  .trend_card:nth-child(n+2) {
    margin-left: 4px;
  }

  .card__preview {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #000000;
    background-size: cover;
  }

  .trend1 {
    background-image: url('../images/trend1.jpg');
  }

  .trend2 {
    background-image: url('../images/trend2.jpg');
  }

  .trend3 {
    background-image: url('../images/trend3.jpg');
  }

  .trend4 {
    background-image: url('../images/trend4.jpg');
  }

  .trend_card:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

  }

  .card__body {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    border: 3px solid rgba(181, 159, 91, 0.6);
    margin: 1.25em;
    padding: 1.875em;
  }

  .card_title {
    color: #ffffff;    
  } 

  .section-title_trend {
    text-align: center;        
    display: block;
    margin-top: 4em;
    margin-bottom: 1.875em;
    font-size: 20px;    
  }
  
  




  /* основной контент */
  .page {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;  
    padding: 58px 15px;
    justify-content: space-between;
  }
  
  .post {
    display: flex;
  
  }
  
  .post:nth-child(n+2) {
    margin-top: 57px;
  }
  
  .content {
    width: 67%;
    display: flex;
    flex-direction: column;  
  }
  
  .post-img {
    width: 380px;
  }
  
  .post-info {
    margin-left: 34px;
  }
  
  
  .post-category {  
    display: flex;
    flex-wrap: wrap;
  }
  
  
  
  .post-category-item {
    border-bottom: 2px solid transparent;
    transition-property: border-bottom;
    
  }
  
  
  .post-category-item:hover {
    border-bottom: 2px solid #b59f5b;
    transition: 0.6s;
    
  }
  
  .post-category-item {
    margin-right: 20px;  
  }
  
  .post-category-item a {
    font-family: Open Sans Bold;
    color: #b59f5b;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;  
    font-weight: bold;
    
  }

  .main-title {
    font-family: Open Sans Bold; 
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  
  .post-title {    
    transition-property: color;
  }
  
  .post-title:hover {    
    transition: 0.3s;
    color: #b59f5b;  
  }
  
  .link-title {
    margin-top: 4px;
  }
  
  .post-date {
    color: #999999;
    font-size: 12px;  
    padding-right: 8px;  
  }
  
  .post-author {
    margin-top: 22px;
  }
  
  .author-name {
    font-family: Open Sans Bold;
    display: inline-block;  
    font-size: 12px;   
  }
  
  .post-description {  
    font-size: 15px;
    line-height: 1.6;
    margin-top: 47px;
  }
  
  .post-description p:nth-child(n+2) {  
    margin-top: 15px;
    
  }
  
  .post-header {
    display: flex;
    flex-direction: column;
  }
  
  /* начало боковой панели */
  .new-posts {
    width: 23%;
    display: flex;
    flex-direction: column;
    font-size: 14px;  
  }
  
  .new-posts > section:nth-child(n+2) {
    margin-top: 53px;
  }
  
  .aside-posts, .page-tags, .page-mailing, .page-topics {
    display: flex;
    flex-direction: column;
  
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 34px;
  }
  
  .aside-title {    
    font-size: 1em;    
    position: relative;
    display: inline-block;    
  }
  
  /* подчеркивание */
  .aside-title:after {
    content: "";
      border-bottom: 3px solid #e1d9bd;
      position: absolute;    
      bottom: -12px;
      left: 15%;
      width: 70%;
  
  }
  
  .aside-post {
    display: flex;  
    width: 100%;  
  }
  
  .aside-post:nth-child(n+3) {
    margin-top: 16px;
  }
  
  .aside-post-img {
    width: 70px;
  }
  
  .aside-post-info {
    margin-left: 17px;
    
  }
  
  .aside-post-title {
    font-family: Open Sans Bold;
    font-size: 14px;
    text-transform: uppercase;
    transition-property: color;
    
  }
  .aside-post-title:hover {
    color: #b59f5b;
    transition: 0.3s;
  }
  
  
  
  /* поиск */
  
  .search {
    display: flex;
    position: relative;
  }
  
  .search-on, .mail-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; 
  }
  
  .button-name {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;   
  }
  
  .search-button {
    width: 50px;
    height: 50px;
    background: url(../svg/search.svg) #b59f5b no-repeat center center/20px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    transition-property: background-color;
    
  }
  
  .search-button:hover {
    background: url(../svg/search.svg) #0f0d0e no-repeat center center/20px;
    transition: 0.6s;
    cursor: pointer;
  }
  
  
  
  .search-name, .mail-label {
    width: 100%;
  }
  
  .search-field, .mail-field {
    background-color: #f4f7f6;
    border: none;
    outline: transparent 1px solid;
    height: 50px;
    width: 100%;
    padding-left: 16px; 
    padding-right: 55px;
    font-size: 13px;
    transition-property: outline;
  }
  
  .search-field:focus, .mail-field:focus {
    font-size: 14px;
    outline: 1px solid #b59f5b;
    transition: 0.6s;
    
  }
  
  .page-search {
    margin-top: 60px;
  }
  
  
  /* почта */
  
  .subscribe-button {
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    margin-top: 15px;  
    transition-property: background-color;
    
  }
  
  .subscribe-name {
    font-family: Open Sans Bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .subscribe-button:hover {
    font-size: 15px;
    background-color: #0f0d0e;
    transition: 0.6s;
    cursor: pointer;
  }
  
  /* Тэги */
  
  .tag-container {
    display: flex;
    flex-wrap: wrap;  
    justify-content: flex-start;
  }
  
  .tag-name {
    
    border: 4px solid rgba(238, 238, 238, 0.9);
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 5px;
    margin-bottom: 6px;
    transition-property: background-color;
    
  }
  
  .tag-name:hover {
    transition: 0.6s;
    border: 4px solid #b59f5b;
    
  }
  
  .tag-title {
    font-family: Open Sans Bold;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
  }
  
  /* Темы */
  
  .page-topics .section-title {
    margin-bottom: 20px;  
  }
  
  .topic-container {
    display: flex;
    flex-direction: column;
  }
  
  .topic {
    
    height: 48px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
  }
  
  .topic-link {
    font-family: Open Sans Bold;
    font-size: 14px;
    color: #000000;
     transition-property: color;
  }
  
  .topic-link:hover {
    color: #b59f5b;
    transition: 0.6s;
  }
  
  .topic-amount {
    color: #b59f5b;
    font-size: 12px;
    font-family: Open Sans Bold;
    padding-bottom: 10px;
    padding-left: 5px;
  }
  
  /* наши продукты */

   .our_products {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 65px;
   }
   .product_card:nth-child(n+2) {
     margin-left: 65px;
   }

   .product_card {    
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-size: 15px;
   }

   .description_link {
     color: #b59f5b;
   }

   .product_card picture {
     display: flex;
   }
   .product_preview {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: -30px;
  }

   .product_preview img {
     width: 100%;
   }

   .product__prices {
     display: flex;
     flex-direction: column;
     font-size: 14px;
     justify-content: flex-end;
   }

   .product__price {
    display: flex;
    flex-direction: row;
    font-size: 20px;   

   }   

   .product__description {
     font-size: 1em;
   }

   .product__description:hover p {
    font-weight: bolder;
  }

  .product__footer {
    display: flex;
    justify-content: space-between;
  }

  .product__button {
    width: 40%;
    height: 50px;
    background-color: #b59f5b;
    border: none;    
    transition-property: background-color;
  }

  .product__price_old  {
    font-size: 1em;
  }

  .product__price_old:first-child {
    text-decoration: line-through;
  }

  .product__button {
    font-family: Open Sans Bold;
    font-size: 1em;
    color: #ffffff;

  }

  .product__button:hover {
    font-size: 15px;
    background-color: #0f0d0e;
    transition: 0.6s;
    cursor: pointer;
  }

  .product__content {
    margin-top: 24px;
    margin-bottom: 24px;

  }
  
  .product__body {
    border: rgba(181, 159, 91, 0.6) solid 3px;    
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
  }

  .product__rub {
    margin-left: 5px;
  }

  .product__prices * {
    font-family: Open Sans Bold;
  }



  /* футер */
  
  .footer-links {  
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px; 
  }
  
  .social-wrapper {
    display: flex;
    width: 100%;
    background-color: #f4f7f6;
    justify-content: center;
    align-items: center; 
    padding: 30px;
  }
  
  .social-link {
    position: absolute;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 20px;  
    background-position: center;
    transition-property: scale;
  }
  
  .social-link:hover {
    transform: scale(1.1);
    transition: 0.4s;
  }
  
  .social-link-twitter {
    background-image: url("../svg/004-twitter.svg");  
  }
  
  .social-link-pinterest {
    background-image: url("../svg/001-pinterest.svg");   
  }
  
  .social-link-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
  }
  
  .social-link-instagram {
    background-image: url("../svg/005-instagram.svg");
  }
  
  .social-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");  
  }
  
  .social-link-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px; 
  
  }
  
  .social-icon {  
    width: 30px;
    height: 30px;
  }
  
  .social-icon:nth-child(n+2) {
    margin-left: 17px;
  }
  
  .copyright-link {
    
    font-family: Open Sans Bold;
    font-size: 11px;
    font-style: normal;
    color: #999999;
    margin-top: 68px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    
  }  
  

  /* Всплывающее окно */

  .popup {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    padding: 45px 30px;
    background-color: #ffffff;
    position: relative;

  }

  .popup h2 {
    font-size: 20px;
  }

  .popup_container {
    
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    visibility: hidden;
    opacity: 0;
  }

  .popup__close {
    width: 20px;
    height: 20px;
    display: flex;
    position: absolute;
    right: 0;
    top: -30px;
  }

  .close__button {
    background: url(../svg/form-x.svg) no-repeat center right;
    width: 100%;
  }


  .form_popup {
    display: flex;    
  }

  .popup_field {
    background: url(../svg/form-arrows.svg) #f9f9f9 no-repeat center right 10px;
    background-size: 10px;
  }

  .form_popup {
    display: flex;
    flex-direction: column;
  }
  
  .field-label {
    margin-bottom: 10px;
    display: block;
  }

  .form-group:nth-child(n+2) {
    margin-top: 40px;

  }

  .message {
    height: 150px;
    padding: 20px;
    resize: none;
    
  }

  .send-button {    
    font-family: Open Sans Bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 0;
  }

  /* checkbox */

  .checkbox-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(../svg/form-empty-circle.svg) no-repeat center center/20px;
}
  .checkbox {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
  }

  .checkbox:checked + .checkbox-text::before {
    background: url(../svg/form-circle.svg) no-repeat center center/20px;
  }

  .checkbox-group:nth-child(n+3) {
    margin-left: 20px;
  }

 